
@media (max-width:992px){
    .doctors-slider .slid-doctor img{
        width: calc(500px/2.3);
        height: calc(520px/2.3) ;
    }
    .Brand{
        display: none;
    }
}
@media (max-width:768px){
    .carousel-item {
        padding-right:20px;
        padding-left:20px;
    }
    .card-sectionRow{
        flex-flow: wrap;
    }
    .doctors-slider .slid-doctor img{
        width: calc(500px/3.2);
        height: calc(520px/3.2) ;
    }
    .doctors-slider .slid-doctor p{
        font-size: 16px;
    }
    .doctors-slider .slid-doctor span{
        font-size: 12px;
    }
    .Special > .container > .row > .position-relative{
        display: flex;
        justify-content: center;
        padding: 25px 0;
    }
}
@media (max-width:577px){
    .doctors-slider .slid-doctor img{
        width: calc(500px/4.2);
        height: calc(520px/4.2) ;
    }
    .doctors-slider .slid-doctor p{
        font-size: 14px;
    }
    .doctors-slider .slid-doctor span{
        font-size: 10px;
    }
}