p.style1{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
span.style1{
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}
p.style2{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
span.style2{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
p.style3{
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}
span.style3{
    font-size: 11px;
    font-weight: 400;
    margin: 0;
}
p.style4{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

    /******** Start Header ********/
header{
    background-color: #eef8fe ;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.btn-primary-light{
    background-color: #ebf3fd;
    color: #0060fa;
    border: 0 none;
}
.navbar-light .navbar-nav .nav-link{
    color: #697994;
    font-weight: 500;
    font-size: 17px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #0060fa;
}
.account-section .btn-link{
    color: #697994;
    width: 80px;
    text-decoration: none;
}
.account-section .btn-primary{
    width: 100px;
    text-decoration: none;
}
.account-section{
    flex-flow: nowrap;
}
    /******** end Header ********/
h1.titles{font-size: 4rem;}
.titles{
    color: #0e2249;
}
    /******** Start intro Section ********/
.intro{
    position: relative;
    background: linear-gradient(to bottom, #eef8fe 0%, #fff 100%);
    padding: 75px 0;
}
.intro-image-section{
    position: relative;
    margin-top: 60px;
}
.big-image{
    width: 300px;
    background: linear-gradient(to bottom, #DFEBFF 0%, #E0ECFF 100%);
    border-radius: 160px;
}
.big-image > img{
    margin-top: -60px;
    border-radius: 0 0 160px 160px ;
    width: 100%;
}
.available-doctors{
    position: absolute;
    bottom: -20px;
    left: 80px;
    white-space: nowrap;
    box-shadow: 0 0 10px 1px #0000000f;
    border-radius: 10px;
    background-color: #fff;
}
.not-important-txt{
    color: #697994;
}
.doctors-AvaDoc{
    width: 100%;
    padding: 5px 0;
}
.doctors-AvaDoc img{
    width: 55px;
    height:55px;
    border-radius: 50%;
    padding-top: 5px;
    background-color: #ffc7df ;
}
.doctors-AvaDoc:nth-child(2) img{
    background-color: #feddca ;
}
.doctors-AvaDoc .col-4{position: relative;}
.doctors-AvaDoc i{
    width: 18px;
    position: absolute;
    border: 1px solid #fff;
    height: 18px;
    bottom: 5px;
    right: -5px;
    display: block;
    line-height: .8;
    color: #fff;
    border-radius: 50%;
    background-color: #0060fa;
}
.Safe-doctor span{
    background-color: #0060fa10;
    height: 7px;
    margin: 5px;
    border-radius: 10px;
    display: block;
}
.Safe-doctor .bi-shield-check{
    color: #0060fa;
    font-size: 22px;
}
.Safe-doctor{
    width: 150px;
    position: absolute;
    top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #00000009;
    left: 340px;
    align-items: center;
    height: 50px;
    background-color: #fff;
}
.intro-caption {
    font-size: 22px;
}
/******** End intro Section ********/
/******** Start Brand Section ********/
.Brand{
    margin-bottom: 100px;
}
.Brand img{
    cursor: pointer;
}
.Brand-title{
    font-size: 22px;
    text-align: center;
    font-weight: 600;
}

/******** End Brand Section ********/
/******** Start Card Section ********/
.card-section-title{
    width: 300px;
    font-size: 26px !important;
    text-align: center;
    font-weight: 500;
    margin: 0 auto !important; 
}
.card-section .card:first-child {box-shadow: 8px 0 16px 1px #0e224925;}
.card-section .card:last-child {box-shadow: -8px 0 16px 1px #0e224925;}
.card-section .card{
    border: 0 none;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 0 10px 1px #0e224920;
    padding: 0 0 10px 20px;
}
.card-section img{
    width: 50px ;
    margin: 25px 0;
}
/******** End Card Section ********/
.doctor-detail{
    position: absolute;
    bottom: -10px;
    background-color: #fff;
    box-shadow: 0 0 10px 1px #0000000f;
    padding: 20px 10px;
    border-radius: 10px;
    white-space: nowrap;
    right: 30px;
    width: 230px;
}
.doctor-detail .bi-person{
    font-size: 20px;
    padding: 2px 5px;
    background-color: #0060fa;
    color: #fff;
}
.doctor-detail p{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.doctor-detail span{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.doctor-detail .my-2{
    font-size: 14px;
    font-weight: 500;
}
.doctor-detail .my-2 .titles{
    font-size: 16px;
    font-weight: 700;
}
.doctor-detail i{
    color: #53a1fb;
    font-size: 18px;
}
.best-doctor-section h2.titles{
    font-size: 45px;
    font-weight: 700;
}
.best-doctor-section input{
    display: none;
}
.best-doctor-section label{
    margin: 10px 0;
    transition: .15s;
    border-radius: 10px;
    box-shadow: 0 0px 0 0 #00000000;
    width: 350px;
    padding: 10px;
}
.best-doctor-section label img{
    width: 60px;
}

.best-doctor-radio:checked + label{
    background-color: #fff;
    transform: translate(0, -5px);
    box-shadow: 0 5px 10px 1px #00000059;
}
/******** Start slider Section ********/
.doctors-slider .slid-doctor img{
    background: linear-gradient(to bottom, #e6eefaaf 0%, #e4edfdaf 100%);
    width: 150px;
    height: 200px;
    border-radius: 10px;
}
.doctors-slider .carousel-indicators button{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #0060fa40 !important;
}
.doctors-slider .carousel-indicators button.active{background-color: #0060fa !important;}
.doctors-slider .slid-doctor{
    text-align: center;
    margin: 20px 0;
}
.doctors-slider .slid-doctor p{
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}
.doctors-slider .slid-doctor span{
    margin: 0;
    font-weight: 600;
    font-size: 14px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}
/* bottomGradient e0ecff */
/* topGradient dfebff */