
    /******** Start Header ********/
body , header .navbar{background-color: #eef8fe;}
.btn-primary{
    background-color: #ebf3fd;
    color: #0060fa;
    border: 0 none;
}
.navbar-light .navbar-nav .nav-link{
    color: #697994;
    font-weight: 500;
    font-size: 17px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #0060fa;
}
.account-section .btn-link{
    color: #697994;
    width: 80px;
    text-decoration: none;
}
.account-section .btn-primary{
    width: 100px;
    text-decoration: none;
}
.account-section{
    flex-flow: nowrap;
}
    /******** end Header ********/
.titles{
    color: #0e2249;
}
    /******** Start intro Section ********/
.intro-image-section{
    position: relative;
}
.intro-image{
    width: 300px;
    background: linear-gradient(to bottom, #DFEBFF 0%, #E0ECFF 100%);
    border-radius: 160px;
}
.intro-image > img{
    margin-top: -60px;
    border-radius: 0 0 160px 160px ;
    width: 100%;
}
.available-doctors{
    position: absolute;
    bottom: -20px;
    left: -20px;
    white-space: nowrap;
    box-shadow: 0 0 10px 1px #0000000f;
    border-radius: 10px;
    background-color: #fff;
}
.available-doctors .title-AvaDoc{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.available-doctors .caption-AvaDoc{
    font-size: 13px;
    margin: 0;
    font-weight: 400;    
}
.not-important-txt{
    color: #697994;
}
.doctors-AvaDoc{
    width: 100%;
    padding: 5px 0;
}
.doctors-AvaDoc img{
    width: 55px;
    height:55px;
    border-radius: 50%;
    padding-top: 5px;
    background-color: #ffc7df ;
}
.doctors-AvaDoc:nth-child(2) img{
    background-color: #feddca ;
}
.doctors-AvaDoc .col-md-4{position: relative;}
.doctors-AvaDoc i{
    width: 18px;
    position: absolute;
    border: 1px solid #fff;
    height: 18px;
    bottom: 5px;
    right: -5px;
    display: block;
    line-height: .8;
    color: #fff;
    border-radius: 50%;
    background-color: #0060fa;
}
.doctors-AvaDoc p{
    font-size: 14px;
    font-weight: 500;
    margin: 0 5px;
}
.doctors-AvaDoc span{
    font-size: 11px;
    margin: 0 5px;
    font-weight: 400;
}
/******** End intro Section ********/
/* bottomGradient e0ecff */
/* topGradient dfebff */